:root {
	--theme-font-family-heading: 'Quicksand', sans-serif;
}

html,
body {
	@apply h-full overflow-hidden;
}

.surface-default {
	@apply text-surface-50 bg-surface-800;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
